<p id="notice"><%= notice %></p>

<p>
  <strong>Freak:</strong>
  <%= @control.freak %>
</p>
<p>
  <strong>Love:</strong>
  <%= @control.love %>
</p>

<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>
