<div id="header" class="navbar-toggleable-md sticky header-md clearfix">
<!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo float-left scrollTo" href="#top">
                <%# <img src="assets/images/RE/RE_Logo.png" alt="RocketElevatorsLogo" /> %>
                <%= image_tag("/assets/RE/RE_Logo.png", class: "logo float-left scrollTo") %>
            </a>

            

            <!---->
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">

                    <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        <li><!-- HOME -->
                        
                            <%= link_to "HOME", root_path %>
                        
                        </li>
                        <li class="nav-item dropdown">
                            <a id="services-nav" class="dropdown-toggle" data-toggle="dropdown" href="#services">
                                SERVICES 
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><%= link_to "Residential", page_residential_path %></li>
                                <li class="dropdown-item"><%= link_to "Commercial",  page_commercial_path %></li>
                            </ul>
                        </li>
                        <li><!-- WORK -->
                            <%= link_to "PORTFOLIO", "#{root_path}#portfolio" %>
                            </a>
                        </li>
                        <li><!-- NEWS -->
                        <%= link_to "NEWS", "#{root_path}#news" %>
                            </a>
                        </li>
                        <li><!-- CLIENTS -->
                        <%= link_to "CLIENTS", "#{root_path}#clients" %>
                            </a>
                        </li>
                        <li><!-- CONTACT -->
                        <%= link_to "CONTACT", "#{root_path}#contact" %>
                            </a>
                        </li>
                            
                                
                            
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </header>
</div>
<!-- /Top Nav -->