<div id="wrapper">

	
			<!-- REVOLUTION SLIDER -->
			<a name="home-nav"></a>

			<div class="slider fullwidthbanner-container roundedcorners">

				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE 1  HOME-->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Home">
							<!-- MAIN IMAGE -->
							<%= image_tag("/assets/RE/Slide-1b.jpg", alt:"home slider image", bgposition:"center top", bgfit:"cover", bgrepeat:"no-repeat")%>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="150"
								data-y="200" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:60px; text-align:center; color:#000; font-weight:800; text-shadow:1px 1px 5px blue, 0 0 1em red, 0 0 1em red;">
									WHERE THE SKY IS THE LIMIT! <br />
									
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="250"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; text-align:center; font-size:45px; color:#000; font-weight:500; text-shadow:1px 1px 2px blue, 0 0 1em red, 0 0 0.8em red;">
									Let us <strong>LIFT</strong> your project higher <br />
									
							</div>							

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="480"
								data-y="440" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-primary btn-xs" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE 2  Residential-->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential">
							<!-- MAIN IMAGE -->
							<%= image_tag("/assets/RE/Slider_2.jpg", alt:"Residential slider image", bgposition:"center top", bgfit:"cover", bgrepeat:"no-repeat")%>

							<div class="overlay dark-4"></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="145"
								data-y="200" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; text-align:center; font-size:60px; color:#000; font-weight:500; text-shadow:1px 1px 3px red, 0 0 1em blue, 0 0 1em blue;">
									Your best way to reach the top
							</div>
							
							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="120"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; text-align:center; font-size:25px; color:#000; font-weight:350; text-shadow:1px 1px 0.1px red, 0 0 1em blue, 0 0 1em blue;">
									You are tired walking up the stairs or you just want to <strong>LIFT</strong> the value of your home <br />
									Contact Us our team is the best in this field
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="150"
								data-y="440" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-primary bt-xs" href="/residential.html">RESIDENTIAL &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="830"
								data-y="440" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-xs" href="/quote.html#quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE 3  Commercial-->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Commercial">
							<!-- MAIN IMAGE -->
							<%= image_tag("/assets/RE/Slider_3a.jpg", alt:"Commercial slider image", bgposition:"center top", bgfit:"cover", bgrepeat:"no-repeat")%>

							<div class="overlay dark-4"></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="140"
								data-y="200" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; text-align:center; font-size:60px; color:#000; font-weight:500; text-shadow:1px 1px 3px blue, 0 0 1em red, 0 0 1em red;">
									Let us bring your people higher.
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="250"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; text-align:center; font-size:25px; color:#000; font-weight:350; text-shadow:1px 1px 0.4px blue, 0 0 1em red, 0 0 1em red;">
									We have a long history of excellence in partnership<br />
									Contact Us we will be please to be partner with you
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="150"
								data-y="440" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-primary btn-lg" href="/commercial.html">COMMERCIAL &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="850"
								data-y="440" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-lg" href="/quote.html#quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					You want to reach new highs ? <br>
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->

		
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<%= image_tag("/assets/RE/A_360x240wards.png",class:"img-fluid", alt:"img")%>
							<h3 class="mt-10">PROJECTS & AWARDS</h3>
							<p>View our projects and awards section</p>
							<a href="#portfolio" class="btn btn-default">PROJECTS & AWARDS <i class="fa fa-angle-right"></i></a>
						</div>

						<div class="col-sm-4">
							<%= image_tag("/assets/RE/Serv_Residential-2.jpg",class:"img-fluid", alt:"img")%>
							<h3 class="mt-10">RESIDENTIAL</h3>
							<p>If you need us for your residential project</p>
							<a href="/residential.html" class="btn btn-default">RESIDENTIAL <i class="fa fa-angle-right"></i></a>
						</div>

						<div class="col-sm-4">
							<%= image_tag("/assets/RE/Corporate_sm.jpg",class:"img-fluid", alt:"img")%>
							<h3 class="mt-10">COMMERCIAL</h3>
							<p>For your Commercial project, small or big. </p>
							<a href="/commercial.html" class="btn btn-default">COMMERCIAL <i class="fa fa-angle-right"></i></a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: image-url(/assets/images/Parallax_bg.jpg);">
			
				<div class="overlay dark-5"></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-400">Lifting your projects since 1976</h2>
						<a class="btn btn-danger btn-lg" href="/quote.html#quoteform">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-primary btn-lg" href="#services">OUR SERVICES <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->

			<!-- PORTFOLIO -->
			<section id="portfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h1>Projects and Awards</h1>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
							<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
							<li data-filter="commercial" class="filter"><a href="#">Commercial</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Ellies-Winners_best contr.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

									 <%= image_tag("/assets/RE/Portfolio/600x300/Awards_1_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Best Contractor - North</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">The Ellies</a></li>
											<li><a href="#">2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Autostadt-Silos_Germany.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

                    <%= image_tag("/assets/RE/Portfolio/600x300/Projects_1_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>

									</figure>

									<div class="item-box-desc">
										<h3>Autostadt Car Silos</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Wolfsburg</a></li>
											<li><a href="#">Germany</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/PVE52.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/PVE52.jpeg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Shaftless Home Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Les Méchins - Québec</a></li>
											<li><a href="#">Canada</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Safest_employers.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/Awards_3_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>The WSIB Award, Canada’s BEST HEALTH & SAFETY CULTURE</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Canada Safest Employers Awards</a></li>
											<li><a href="#">2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Empire-state-Obs_1200x800.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/Projects_5_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Empire State 102nd Floor</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">New-York</a></li>
											<li><a href="#">USA</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/BuildIt_awards.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/Awards_4_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Build It Awards 2020</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Best Contractor</a></li>
											<li><a href="#">Home Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Riosol_Hotel_Spain.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/Projects_6_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Riosol Hotel Inclined Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Mogan, Gran Canaria</a></li>
											<li><a href="#">Spain</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Porsche-tower.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/Porsche-tower_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Porsche Design Tower</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Sunny Isles Beach</a></li>
											<li><a href="#">Florida</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->
							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Home-Elevators.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/Res_2_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Vacuum Home Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">San Franciso - California</a></li>
											<li><a href="#">USA</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Penn-Station_NY.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/Projects_8_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Penn Station - NY Subway</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">New-York</a></li>
											<li><a href="#">USA</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/Ellies-Winners_best owned.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/Awards_2_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>Best Veteran-Owned Business</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">The Ellies</a></li>
											<li><a href="#">2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/RE/Portfolio/OWTC_1200x800.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<%= image_tag("/assets/RE/Portfolio/600x300/OWTC_600x300.jpg",class:"img-fluid", width:"600", height:"399", alt:"")%>
									</figure>

									<div class="item-box-desc">
										<h3>One World Trade Center</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">New-York</a></li>
											<li><a href="#">USA</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->							


						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->

			
			<!-- Employees -->
			<section id="team" class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 5000, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div id="CEO" class="testimonial">
							<figure>
								<%= image_tag("/assets/RE/CEO.jpg",class:"rounded", alt:"")%>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">"Our qualified and dedicated staff is the main reason for our success!<br>
												Without them we're nothing more than a elevator company! That's why safety is a prority.."</p>
								<cite>
									Nicolas Pineault
									<span>Rocket Elevators CEO</span>
								</cite>
							</div>
						</div>
						<div id="employee" class="testimonial">
							<figure>
								<%= image_tag("/assets/RE/EOTM_sm.jpg",class:"rounded", alt:"")%>
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">"Rocket elevators provide us with great challenges in a safe environment. <br>
												Impossible to be bored in this company"</p>
								<cite>
									Claude St-Laurent
									<span>Employee of the month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Employees -->


			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2020/09/12/accel-from-thyssenkrupp/" target="blank">
								<%= image_tag("/assets/RE/News/News_1.jpeg",class:"img-fluid", alt:"")%>
							</a>

							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2020/09/12/accel-from-thyssenkrupp/" target="blank">ACCEL from ThyssenKrupp</a></h4>
							<p class="text-left">ACCEL offers a cost-effective solution to improve the reach of metro stations and increase network connectivity without the need for major infrastructural or civil works</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									13th Jan 2021
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/" target="blank">
								<%= image_tag("/assets/RE/News/News_2.jpeg",class:"img-fluid", alt:"")%>
							</a>

							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/" target="blank">Touchless footbutton by Hyundai elevator</a></h4>
							<p class="text-left">Hyundai Elevator Co., South Korea’s No. 1 moving solutions provider, said Thursday it developed a new type of lift that can be summoned by a foot movement.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									13th Jan 2021
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/" target="blank">
								<%= image_tag("/assets/RE/News/News_3.jpeg",class:"img-fluid", alt:"")%>
							</a>

							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/" target="blank">Mezolift first solar elevator!</a></h4>
							<p class="text-left">Greek company Mezolift is the first company in the world to have created a solar lift/elevator (Mezus Solar) for small houses.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									13th Jan 2021
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://realty.economictimes.indiatimes.com/news/allied-industries/schindler-to-cut-2000-jobs/77162338" target="blank">
								<%= image_tag("/assets/RE/News/News_4.jpg",class:"img-fluid", alt:"")%>
							</a>

							<h4 class="text-left mt-20"><a href="https://realty.economictimes.indiatimes.com/news/allied-industries/schindler-to-cut-2000-jobs/77162338" target="blank">Schindler to cut 2,000 jobs</a></h4>
							<p class="text-left">Schindler said on Friday it will cut 2,000 jobs over two years as regions outside China reel from COVID-19</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									13th Jan 2021
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2020/02/08/world-elevator-escalator-expo-2020/" target="blank">
								<%= image_tag("/assets/RE/News/News_5.jpeg",class:"img-fluid", alt:"")%>
							</a>
							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2020/02/08/world-elevator-escalator-expo-2020/" target="blank">World Elevator & Escalator Expo 2020</a></h4>
							<p class="text-left">The 14th China International Elevator Exhibition will be held at the National Convention and Exhibition Center (Shanghai) from (originally May 6-9, 2020 now due to COVID postponed to ) August 18-21, 2020.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									13th Jan 2021
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2013/09/18/arent-building-space-elevator/" target="blank">
								<%= image_tag("/assets/RE/News/News_6.jpeg",class:"img-fluid", alt:"")%>
							</a>
							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2013/09/18/arent-building-space-elevator/" target="blank">Why aren’t we building a space elevator?</a></h4>
							<p class="text-left">Though it’s foreign to us, space is turning out to be a much less intractable problem than the Earth itself. Right now it costs about $25,000 to put a kilogram into orbit — with a space elevator, that number is estimated at about $200.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									13th Jan 2021
								</li>
							</ul>
						</div>
												
					</div>

				</div>
			</section>
			<!-- /News -->


			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.bechtel.com/" target="blank">
								<%= image_tag("/assets/RE/Clients/Bechtel_logo.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.cominar.com/en/" target="blank">
								<%= image_tag("/assets/RE/Clients/Cominar_logo.jpg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://thewaltdisneycompany.com/" target="blank">
								<%= image_tag("/assets/RE/Clients/Disney_logo.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.esbnyc.com/" target="blank">
								<%= image_tag("/assets/RE/Clients/Empire-St-Builiding.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.hilton.com/en/corporate/" target="blank">
								<%= image_tag("/assets/RE/Clients/Hilton.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.kiewit.ca/en/" target="blank">
								<%= image_tag("/assets/RE/Clients/Kiewit_Logo.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://transportnsw.info/" target="blank">
								<%= image_tag("/assets/RE/Clients/NSW-transp_logo.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://pomerleau.ca/" target="blank">
								<%= image_tag("/assets/RE/Clients/Pomerleau.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.suncor.com/" target="blank">
								<%= image_tag("/assets/RE/Clients/Suncor_Energy.jpg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.thyssenkrupp.com/en/home" target="blank">
								<%= image_tag("/assets/RE/Clients/Thyssenkrupp.jpg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="http://www.ttc.ca/" target="blank">
								<%= image_tag("/assets/RE/Clients/Toronto Transit.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.wynnlasvegas.com/" target="blank">
								<%= image_tag("/assets/RE/Clients/Wynn_Las_Vegas_logo.jpeg",class:"img-fluid" , alt:"client") %>
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->




			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">Our Team is avalaible 7 days a week for you</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->

				<!-- remove commentary of next line to activate the send button -->

							<!-- <form action="php/contact.php" method="post" enctype="multipart/form-data"> -->
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row mb-20">
											<div class="col-md-4">
												<label for="contact:name">Contact Full Name *</label>
												<input required type="text" value="" class="form-control" name="contact[name][required]" id="name">
											</div>
											<div class="col-md-4">
												<label for="contact:email">E-mail Address *</label>
												<input required type="email" value="" class="form-control" name="contact[email][required]" id="email">
											</div>
											<div class="col-md-4">
												<label for="contact:phone">Phone</label>
												<input type="text" value="" class="form-control" name="contact[phone]" id="phone">
											</div>
											
									</div>
									<div class="row mb-20">
										<div class="col-md-4">
											<label for="company:name">Company Name *</label>
											<input type="text" value="" class="form-control" name="contact[phone]" id="company_name">
										</div>
									</div>

									<div class="row mb-20">
											<div class="col-md-8">
												<label for="contact:subject">Project Name *</label>
												<input required type="text" value="" class="form-control" name="contact[subject][required]" id="project_name">
											</div>
											<div class="col-md-4">
												<label for="contact:department">Department</label>
												<select class="form-control pointer" name="contact[department]" id="department">
													<option value="">--- Select ---</option>
													<option value="Maintenance">Maintenance</option>
													<option value="Residential">Residential</option>
													<option value="Commercial">Commercial</option>
													<option value="Others">Others</option>
												</select>
											</div>
									</div>

									<div class="row mb-20">
										<div class="col-md-12">
											<label for="contact:project_description">Project Description *</label>
											<textarea required maxlength="10000" rows="4" class="form-control" name="contact[message]" id="project_description"></textarea>
										</div>
									</div>

									<div class="row mb-20">
											<div class="col-md-12">
												<label for="contact:message">Message </label>
												<textarea required maxlength="10000" rows="6" class="form-control" name="contact[message]" id="message"></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:attachment">File Attachment</label>

												<!-- custom file upload -->
												<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<!-- <div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div> -->
								</div>
							</form>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<div id="map2" class="h-400"></div>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 417-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1-418-555-1234">(418)555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
