<div id="wrapper">

	<!-- HOME -->
	<section id="home" style="padding-top: 100px">
				
		<div class="container text-center">
			
			<h1 class="m-0 fs-40 fw-300 wow fadeInUp" data-wow-delay="0.4s">Rocket Elevators Can Make Your Dream Come True</h1>
			<p class="lead font-lato fs-20 wow fadeInUp" data-wow-delay="0.7s">Rocket Elevators is the World’s ONLY Home Elevators Driven By Air</p>
			
			<div class="mt-100 mb-10">
				<a href="#models" class="btn btn-3d btn-lg btn-primary"></i>MODELS</a>
				<span class="fs-17 hidden-xs-down">&nbsp; OR &nbsp;</span>
				<%= link_to "PRINCING", "/page/quote", class: "btn btn-3d btn-danger" %>
				<hr>
				<a href="#testimonials" style="font-weight: 500;font-size: 15px;color: lime;font-style: italic;">View our clients testimonials</a>
			</div>


			<div class="row mt-150 ml-200 text-left">

				<div class="col-md-6 col-sm-8 mt-30 mb-5">
					<%= image_tag("/assets/RE/Residential page/Residential-Elevators-PVE30-1.jpg",class:"img-fluid", width:"500", height:"300", alt:"")%> 
				</div>

				<div class="col-md-4 col-sm-12 mt-30">
					<h3 class="fw-400">Why <span style="color:lime; font-style:italic">Work with US</span></h3>
					<p style="padding-top: 15px">We can provide you with the latest technology in residential elevators.<br> By using pneumatic technology to generate lift, our home elevators smoothly move between floors while requiring much less space and energy than traditional residential elevators.<br>
					<br>We can take everything in charge from beginning to your first lift</p>
					<p>Easy installation without any major home improvement can be achieved with our products.</p>
					<hr/>
					<hr/>
					<!-- <ul class="list-unstyled list-icons"> -->
						<p class="list-icons">
							<span style="color:lime; font-style:italic;">
							<i class="fa fa-check"></i> Panoramic Design<br>
							<i class="fa fa-check"></i> Space Saving<br>
							<i class="fa fa-check"></i> Fast Installation<br>
							<i class="fa fa-check"></i> Pneumatic Technology<br>
							<i class="fa fa-check"></i> Little Maintenance<br>
							</span>
						</p>
					<!-- </ul> -->
				
				</div>
			</div>

		</div>

	</section>
	<!-- /HOME -->


	<!-- MODELS -->
	<section id="models" style="padding-top: 60px">
		<div class="container">

			<header class="text-center mmb-60">
				<h2>Our Models</h2>
				<hr />
			</header>

			<!-- MODELS BOXES 1 -->
			<div class="row">
				<div class="col-md-4 col-6">
					<div class="text-center">
						<%= image_tag("/assets/RE/Residential page/PVE30.jpg",class:"img-fluid", width:"300", height:"200", alt:"")%> 
						<h4>RE-30</h4>
						<p>Single Passenger Residential Elevator</p>
					</div>
				</div>
				<div class="col-md-4 col-6">
					<div class="text-center">
						<%= image_tag("/assets/RE/Residential page/PVE37.jpg",class:"img-fluid", width:"300", height:"200", alt:"")%>
						<h4>RE-37</h4>
						<p>Two-Passenger Home Elevator</p>
					</div>
				</div>
				<div class="col-md-4 col-6">
					<div class="text-center">
						<%= image_tag("/assets/RE/Residential page/PVE52sm.jpg",class:"img-fluid", width:"300", height:"200", alt:"")%>
						<h4>RE-52</h4>
						<p>Three-Passenger Wheelchair Accessible Home Elevators</p>
					</div>
				</div>
			</div>
			<!-- /MODELS BOXES 1 -->


			<!-- MODELS BOXES 2 -->
			<div class="row">
				<div class="col-md-4 col-6">
					<div class="text-center">
						<%= image_tag("/assets/RE/Residential page/elevator_Boat.jpg",class:"img-fluid", width:"300", height:"200", alt:"")%>
						<h4>Yacht/Marine Elevators</h4>
						<p>Space-Saving Elevators for Yacht + Marine Applications<br>
						<%= link_to "Contact us for more informations", "#{root_path}#contact" %>
					</div>
				</div>
				<div class="col-md-4 col-6">
					<div class="text-center">
						<%= image_tag("/assets/RE/Residential page/shutterstock_1920x980.jpg",class:"img-fluid", width:"300", height:"200", alt:"")%>
						<h4>Multi-Residential</h4>
						<p>Multiple solutions for multi-apartment building</p>
					</div>
				</div>
				<div class="col-md-4 col-6">
					<div class="text-center">
						<%= image_tag("/assets/RE/Residential page/Porsche_Elev.jpg",class:"img-fluid", width:"300", height:"200", alt:"")%>
						<h4>Car Elevators</h4>
						<p>If you don't want to left your car in the garage!!<br>
							<%= link_to "Contact us for more informations", "#{root_path}#contact" %>
					</div>
				</div>
			</div>
			<!-- /MODELS BOXES 2 -->
		</div>
	</section>
	<!-- /MODELS -->


	<!-- PRICING -->
	<section id="pricing" style="padding-top: 10px">
		<hr>
		<div class="container">

			<header class="text-center mt-20 mb-60">
				<h2>Our Pricing</h2>
				<p class="lead font-lato">Choose the option you want</p>
				<hr />
			</header>

			<div class="row">

				<div class="col-md-4 col-sm-3">
					
					<div class="price-clean price-clean-popular"> 
						<div class="ribbon"> 
							<div class="ribbon-inner">Standard</div>
						</div>                               
						<h4>
							<sup>$</sup>7,565
						</h4>
						<h5> Starting at </h5>
						<hr />
						<p style="font-size:14px; color:gold">For individuals looking for something affordable</p>
						<hr />
						<%= link_to "Get Quote", "/page/quote", class: "btn btn-3d btn-danger" %>
					</div>
				
				</div>
				
				<div class="col-md-4 col-sm-3">
					
					<div class="price-clean price-clean-popular"> 
						<div class="ribbon"> 
							<div class="ribbon-inner">Premium</div>
						</div>                               
						<h4>
							<sup>$</sup>12,345
						</h4>
						<h5> Starting at </h5>
						<hr />
						<p style="font-size:14px; color:gold">For more ambitious projects</p>
						<hr />
						<%= link_to "Get Quote", "/page/quote", class: "btn btn-3d btn-danger" %>
					</div>
				
				</div>

				<div class="col-md-4 col-sm-3">
					
					<div class="price-clean price-clean-popular"> 
						<div class="ribbon"> 
							<div class="ribbon-inner">Excelium</div>
						</div>
						
						<h4>
							<sup>$</sup>15,400
						</h4>
						<h5> Starting at </h5>
						<hr/>
						<p style="font-size:14px; color:gold">When your serious about luxury...</p>
						<hr/>
						<%= link_to "Get Quote", "/page/quote", class:"btn btn-3d btn-danger" %>
					</div>
				
				</div>

			</div>

		</div>
	</section>
	<!-- /PRICING -->



	<!-- TESTIMONIALS -->
	<section id="testimonials" class="alternate">
		<div class="container">

			<header class="text-center mt-40">
				<h2>Testimonials</h2>
				<p class="lead font-lato">See how we have change their live...</p>
				<hr />
			</header>

			<!-- 
				Note: remove class="rounded" from the img for squared image!
			-->
			<div class="row bp-30 mb-80">
				<div class="col-md-4">
					<div class="testimonial testimonial-bordered p-15">
						<figure class="float-left">
							<%= image_tag("/assets/RE/Residential page/Chinese_300x300.jpg",class:"rounded", width:"100", height:"100", alt:"testimonial image")%>
						</figure>
						<div class="testimonial-content">
							<p>Really happy with our RE-30 elevator.It as change our lives....for good! We can't imagine going back.</p>
							<cite>
								The Bing family
								<span>San Francisco</span>
							</cite>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="testimonial testimonial-bordered p-15">
						<figure class="float-left">
							<%= image_tag("/assets/RE/Residential page/YT.jpg",class:"rounded", width:"100", height:"100", alt:"testimonial image")%>
						</figure>
						<div class="testimonial-content">
							<p>Being in a wheelchair, the RE-52 gave me back the enjoyment of our second floor!</p>
							<cite>
								Yvette Tremblay
								<span>Les Méchins</span>
							</cite>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="testimonial testimonial-bordered p-15">
						<figure class="float-left">
							<%= image_tag("/assets/RE/Residential page/Donald_trump_300x300.png",class:"rounded", width:"100", height:"100", alt:"testimonial image")%>
						</figure>
						<div class="testimonial-content">
							<p>Having a elevator in my garage is a must. Melania won't scratch my new Bugatti anymore!!</p>
							<cite>
								Donald Gump
								<span>New-York</span>
							</cite>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>