<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">


			<div id="header" class="navbar-toggleable-md sticky clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="assets/images/RE/RE_Logo.png" alt="RocketElevatorsLogo" />
						</a>

						<!--NAV-BAR-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a id="home-nav" href="/index.html">
											HOME
										</a>
									</li>
									<li class="nav-item dropdown">
										<a id="services-nav" class="dropdown-toggle" data-toggle="dropdown" href="#services">
										  SERVICES 
										</a>
										<ul class="dropdown-menu">
										  <li class="dropdown-item"><a href="/residential.html">RESIDENTIAL</a></li>
										  <li class="dropdown-item"><a href="#">COMMERCIAL</a></li>
										</ul>
									</li>
									<li><!-- WORK -->
										<a id="portfolio-nav" href="/index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a id="news-nav" href="/index.html#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a id="clients-nav" href="/index.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a id="contact-nav" href="/index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>


			<!-- HOME -->
			<section id="home" style="padding-top: 75px">
						
				<div class="container text-center">
					
					<h1 class="m-0 fs-40 fw-300 wow fadeInUp" data-wow-delay="0.4s">Rocket Elevators can always <span style="font-style:oblique ;color: blue;">Elevate</span> the limits higher</h1>
					<p class="lead font-lato fs-20 wow fadeInUp" data-wow-delay="0.7s">Even the biggest projects fail to make us dizzy!</p>
					
					<div class="mt-30 mb-10">
                         <p style="font-weight: 400;font-size: 16px;">With almost 50 years of experiences, we did a lot of projects recognized for being almost impossible to accomplish.<br>
                        On the worksites, our dedicated crew, with the support from our engineering team, can realized exeptional things within the limits of possible</p>
                        <hr>   
						<a href="#pricing" class="btn btn-3d btn-lg btn-danger"></i>PRICING</a>
						<hr>
						<a href="#testimonials" style="font-weight: 500;font-size: 15px;color: lime;">View our partners testimonials</a>
					</div>



					<div class="row mt-100 text-center">

						<div class="col-lg-6 mt-30 mb-5">
                            <%= image_tag("/assets/RE/Commercial/1200x800/Aston-MartinApp_1200x800.jpg",class:"img-fluid", width:"500", height:"300", alt:"product line")%> 
                            <%= image_tag("/assets/RE/Portfolio/OWTC_1200x800.jpg",class:"img-fluid", width:"500", height:"300", alt:"product line")%>
                        </div>
                        <div class="col-lg-6 mt-30 mb-5">
                            <%= image_tag("/assets/RE/Commercial/1200x800/2998_1200x800.jpg",class:"img-fluid", width:"500", height:"300", alt:"product line")%> 
                            <%= image_tag("/assets/RE/Commercial/1200x800/Toronto_1200x800.jpg",class:"img-fluid", width:"500", height:"300", alt:"product line")%>
						</div>

					</div>


                </div>
             <div class="mt-80 text-center">
                        
                <%= image_tag("/assets/RE/Commercial/Porsche-Design-Tower_Automobile-Lift-System.jpg",class:"img-fluid", width:"1000", height:"400", alt:"product line")%>
                     
            </div>    

			</section>
			<!-- /HOME -->

			<!-- PRICING -->
			<a id="pricing"></a>
			<hr>
			<section id="pricing" style="padding-top: 10px">
				<div class="container">

					<header class="text-center mt-20 mb-60">
						<h2>Our Pricing</h2>
						<p class="lead font-lato">Choose the desired option to start a quote</p>
						<hr />
					</header>

					<div class="row">

						<div class="col-md-4 col-sm-3">
							
							<div class="price-clean price-clean-popular"> 
								<div class="ribbon"> 
									<div class="ribbon-inner">Standard</div>
								</div>                               
								<h4>
									<sup>$</sup>7,565
								</h4>
								<h5> Starting at *</h5>
								<hr />
								<p style="font-size:14px; color:gold">For individuals looking for something affordable</p>
								<hr />
								<%= link_to "Get Quote", "/get/quote", class: "btn btn-3d btn-danger" %>
							</div>
						
						</div>
						
						<div class="col-md-4 col-sm-3">
							
							<div class="price-clean price-clean-popular"> 
								<div class="ribbon"> 
									<div class="ribbon-inner">Premium</div>
								</div>                               
								<h4>
									<sup>$</sup>12,345
								</h4>
								<h5> Starting at *</h5>
								<hr />
								<p style="font-size:14px; color:gold">For more ambitious projects</p>
								<hr />
								<%= link_to "Get Quote", "/get/quote", class: "btn btn-3d btn-danger" %>
							</div>
						
						</div>

						<div class="col-md-4 col-sm-3">
							
							<div class="price-clean price-clean-popular"> 
								<div class="ribbon"> 
									<div class="ribbon-inner">Excelium</div>
								</div>
								
								<h4>
									<sup>$</sup>15,400
								</h4>
								<h5> Starting at *</h5>
								<hr/>
								<p style="font-size:14px; color:gold">When your serious about luxury...</p>
								<hr/>
								<%= link_to "Get Quote", "/get/quote", class: "btn btn-3d btn-danger" %>
							</div>
                            
						</div>
                        
                    </div>
                    <div>
                    <p class="pt-20 text-center h-10" style="font-style: italic;">*More information may be required to complete the quote request</p>
                    </div>
				</div>
			</section>
			<!-- /PRICING -->



			<!-- TESTIMONIALS -->
			<section id="testimonials" class="alternate">
				<div class="container">

					<header class="text-center mt-40">
						<h2>Testimonials</h2>
						<p class="lead font-lato">See how we have change their live...</p>
						<hr />
					</header>

					<!-- 
						Note: remove class="rounded" from the img for squared image!
					-->
					<div class="row mb-60">
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag("/assets/RE/Commercial/Testimonial/T-M_sm.jpg",class:"rounded", width:"100", height:"100", alt:"testimonial")%>
								</figure>
								<div class="testimonial-content">
									<p>"Would have been impossible to build the Porsche Tower without the expertise of Rocket Elevators"</p>
									<cite>
										T. Murphy
										<span>Coastal Construction, Founder & CEO</span>
									</cite>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag("/assets/RE/Commercial/Testimonial/B-B_sm.jpg",class:"rounded", width:"100", height:"100", alt:"testimonial")%>
								</figure>
								<div class="testimonial-content">
									<p>"A great team to work with.We are partner with Rocket Elevators since the mid 80's and doesn't plan to stop"</p>
									<cite>
										B. Bechtel
										<span>Bechtel Groups CEO</span>
									</cite>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag("/assets/RE/Residential page/Donald_trump_300x300.png",class:"rounded", width:"100", height:"100", alt:"testimonial image")%>
								</figure>
								<div class="testimonial-content">
									<p>"They have done a great job in my Trump Tower.If someone tell you bad things about them, it's FAKE news!!"</p>
									<cite>
										Donald Gump
										<span>The Trump Organization, Founder & Owner</span>
									</cite>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /TESTIMONIALS -->

            	<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER 
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div> -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>
		
	</body>